/* Resets */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, font, img, ins, kbd, q, s, samp, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus {
	outline: 0;
}


body {
	padding: 0;
	margin: 0;
	font: 14px/21px Arial, Helvetica, sans-serif;
	text-align: left;
	color: #2b2b2b;

}

/* Headings */
h1 {
  font-size: 28px;
}
  h1 a:link,
  h1 a:visited {
    color: #666;
    text-decoration: none;
  }

h2 {
  font-size: 22px;
}

h3 {
  font-size:16px;
  text-transform: uppercase;

}

#page{
  width: 1024px;
  margin: 0px auto;
  height: auto;
  background-color: #fff;
}

#container{
  width: 1024px;
  height: auto;
  float: left;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
          color: #2a2a2a;
}

a:link, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

header {
  width: 100%;
  float: left;
  height: 200px;

}

.addr{
  width:370px;
  float: left;
  font-size: 16px;
}

.social{
  width:400px;
  float: right;
  margin-top: 3px;
}

.across{
  width:770px;
  float: left;
}

.ratings {
  width:400px;
  float: left;
  height: auto;
  margin-left: 3px;
}

.ratings ul {
  list-style: none;
}

.social a{
  color:#fff;
}

.rest-pics{
  width:250px;
  float: right;
}

.rest-main-pic{
  width:350px;
  float: left;
  height: 250px;
}

.rest-main-pic img{
  width:340px;
  height: 240px;
}


.small {
	color: #666;
	float: left;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	width:260px;
	margin:0px;
	padding:0px;
}

#logo {
  width:200px;
  height:150px;
  float: left;
  
  margin: 3px;
}

.ad1 {
  width:730px;
  height: 90px;
  float: right;
}

navigation {
  width: 100%;
  float: left;
  height: 40px;
  margin-bottom: 3px;
}

navigation ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

navigation ul li {
  width:140px;
  float: left;
  font-weight: bolder;
  text-align: center;
}

#footerContainer{
  width: 100%;
  float: left;
}

#footer{
  width: 1024px;
  margin: 0px auto;
  height:200px;
}

.aside-left{
  float:left;
}

.aside-right{
  float: right;
}

.aside-200{
  width:170px;
  margin-right: 3px;
}

.aside-250{
  width:250px;
}

.aside-300 {
  width: 300px;
}

.main-content{
  width:550px;
  float: left;
}

.main-content-770{
  width:770px;
  float: left;
}

.side-container{
  width: 100%;
  float: left;
  height:auto;
  margin-top: 3px;
  margin-right: 3px;
}

.featured{
  width: 93%;
  float: left;
  height: auto;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding: 15px;
}

.featuredPic{
  width:150px;
  height: 100px;
  float: left;
  margin-right: 10px;
}

.featuredDetails ul{
  list-style:none;
  margin:0px;
  padding:0px;
}

.featuredDetails ul li a{
  text-decoration: underline;
}

.featuredDesc{
  width:545px;
  float: left;
  height: 200px;
  margin-top: 3px;
}

.featuredReviewContainer{
  float: left;
  margin-bottom: 2px;
}

.reviewerPic{
  width: 80px;
  height: auto;
  float: left;
  margin-right: 3px;
}

.reviewDetails{
 width: 465px;
  height: 80px;
  float: left;
}

.reviewDetails a{
  color:#942a25;
}

.reviewP{
  margin: 0px;
  padding: 0px;
}

.results{
  color:#942a25;
  text-align: right;
  padding-right: 20px;
  font-weight: bold;
  font-style: italic;
}

.browseListPic{
  width:120px;
  height:80px;
  float: left;
  background-color: #ccc;
  margin: 2px;
}

.text-align-right{
  text-align: right;
  padding-right: 5px;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
                                  Review
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.rest-container{
  width:770px;
  float: left;
  clear: both;
}

.rest-header{
 width:770px;
  float: left;
  margin-bottom: 5px;

}

.review-container{
  min-height: 120px;
  width:730px;
  float: left;
}

.review-details{
  width: 630px;
  float: left;
  min-height: 100px;
  margin-left: 5px;
  padding: 5px;
}

.review-actions{
  width: 300px;
  float:left;

  margin: 10px auto;
}

.reviwer{
  font-size: 14px;
  font-weight: bold;
  width:400px;
  float: left;
  margin-left: 5px;
}

.newReview{
  width:600px;
  float: left;
  margin-bottom: 70px;
}

.score{
  font-size: 24px;
  font-weight: bolder;
  width:40px;
  float: right;
  margin-left: 5px;
  height: 25px;
  background-color: green;
  padding: 5px;
  text-align: center;
  color: whitesmoke;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.message{
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-image: url('transparent.png');
  background: yellowgreen;
  height: 50px;
  border:0px;
  display: none;
}

.message-text{
  margin-top: 25px;
  font-size: 18px;
  font-family: Georgia;
  line-height: 0px;
  text-align: center;
  font-weight: bold;
}

.reviewContainer{
  width: 100%;
  height:auto;
  float: left;
  margin-bottom: 5px;

}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Menu Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.menu-category{
  width:250px;
  float: left;
  border: 1px #0074cc solid;
}

.menu-container{
  width:270px;
  float: left;
  border-bottom: 1px dotted #ccc;
  margin-left: 3px;
}

.menu-price{
  width:80px;
  float: right;
}

.item-name{
  width: 200px;
  float: left;
  text-transform: uppercase;
  color: #666;
  font-weight: bold;
  margin-bottom: 5px;
    border-bottom: 1px dotted #ccc;
}

.item-number{
  width: 48%;
  float: left;
    border-bottom: 1px dotted #ccc;
}

.item-description{
  width: 100%;
  float: left;
  font-size: 11px;
  color:#990;
}

.menu-heading{
  width: 530px;
  float: left;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 10px;
  margin-bottom: 3px;
}

/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Pizza Menu Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.pizza-container{
  width:100%;
  float: left;
  margin-left: 3px;
}

.pizza-name{
  width:350px;
  float: left;
  margin-bottom: 3px;
}

.pizza-price{
  width:60px;
  margin-left: 2px;
  float: left;
   margin-bottom: 3px;
   text-align: center;
}

.pizza-item{
  width:98%;
  float: left;
  border-bottom: 1px dotted #ccc;
  margin-left: 3px;

}


/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
                    Wine Cellar Styles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

.wine-list-container{
  width:98%;
  float: left;
  border-bottom: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  margin-left: 3px;
  padding: 15px;
}

.wine-list-container img{
  width: 80px;
  height:80px;
}

.wine-list-details{
  width:400px;
  float: left;
}

.wine-list-pic{
  width:110px;
  height: 150px;
  float: left;
  margin: 5px;
}

.wine-list-pic img{
  width:110px;
  height: 140px;
}

.wine-name{
  width: 470px;
  float: left;
  color: red;
}

.wine-item{
  width: 220px;
  float: left;
}

.wine-info{
  width: 495px;
  float: left;
  margin-bottom: 3px;
}